<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Flowers Knows</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="{% static 'style/style.css' %}" rel="stylesheet" type="text/css" media="all ">

	</head>
	<body>

    <header class="red-header">
        <div class="container">
            <h1>Flowers Knows</h1>
            <nav>
                <ul>
                   <li><a  href="/">Flowers Knows</a></li>
                    <li><a class="normal" href="../tovary/">Produkte</a></li>
                    <li><a class="normal" href="../корзина/">Warenkorb</a></li>
                    <li><a class="normal" href="../aboutus/">Über uns</a></li>
                    <li><a  class="normal" href=  "../все_заказы/">Bestellungen</a></li>
                     <li><a  class="normal" href= "../review/">Bewertungen</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
      <p style="color: #333; font-size: 20px; background-color: #ff7aaf75;">Sind Sie sicher, dass Sie "{{ review.name }}" Bewertung löschen möchten? ?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" style=" cursor: pointer; font-size: 20px;background: linear-gradient(0deg, #ff0000 0%, #ffffff 100%); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); color: black; padding: 8px 16px; border:none; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">ja, löschen</button>
</form>

      </form>

    </div>



</body>
</html>