<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Flowers Knows</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="{% static 'style/style.css' %}" rel="stylesheet" type="text/css" media="all ">

	</head>
	<body>

    <header class="red-header">
        <div class="container">
            <h1>Flowers Knows</h1>
            <nav>
                <ul>
                   <li><a  href="/">Flowers Knows</a></li>
                    <li><a class="normal" href="../tovary/">Produkte</a></li>
                    <li><a class="normal" href="../корзина/">Warenkorb</a></li>
                    <li><a class="normal" href="../aboutus/">Über uns</a></li>
                    <li><a  class="normal" href=  "../все_заказы/">Bestellungen</a></li>
                     <li><a  class="normal" href= "review/">Bewertungen</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="rewiew">
            <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background: linear-gradient(0deg, #8b3dff 0%, #ffd6e4 100%); border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: white; padding: 10px 20px; text-align: center; text-decoration:
        none; display: inline-block; font-size: 20px; cursor: pointer;
         border-radius: 5px; margin-left: 37px;
         margin-bottom: 20px; color: black;">Speichern</button>
       </form>
        </div>


    </div>



</body>
</html>