<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Flowers Knows</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="{% static 'style/style.css' %}" rel="stylesheet" type="text/css" media="all ">
	</head>
	<body>

    <header class="red-header">
        <div class="container">
            <h1>Flowers Knows</h1>
            <nav>
                <ul>
                    <li><a href="/">Flowers Knows</a></li>
                    <li><a class="normal" href="tovary/">Produkte</a></li>
                    <li><a class="normal"  href="корзина/">Warenkorb</a></li>
                    <li><a class="normal"  href="aboutus/">Über uns</a></li>
                    <li><a class="normal"  href=  "все_заказы/">Bestellungen</a></li>
                     <li><a  class="normal" href= "review/">Bewertungen</a></li>
                </ul>
            </nav>
        </div>
    </header>

     <div class="pre_img">
        <div style="position: relative; text-align: center; ">

        <h1 style="position: absolute; top: 47%; left: 23%; transform: translate(-50%, -50%); font-size: 95px; color: #ffffff; text-shadow: -1px 6px 4px #ae00ff; margin-top:-112px;">deine Wahl</h1>

        <img src="https://img.freepik.com/premium-photo/beautiful-asian-woman-with-flowers-her-hand-asian-woman-with-flowers-gardenbeautiful-asi_912214-21102.jpg" alt="Placeholder Image" style="max-width: 100%; border-radius: 10px; margin-top:50px; ">

        <h1 style="position: absolute; top:46%; right: -15%; transform: translate(-50%, -50%); font-size: 95px; color: #ffffff; text-shadow: -1px 6px 4px #ae00ff; margin-top:170px;">Flower Knows</h1>
</div>
    </div>
    {% for i in index %}
    <section class="main-section">
        <div class="container holder">
            <h2>{{i.title}}</h2>
            <p>{{i.description}}</p>
            <a href="tovary/"  class="animate-gradient">Sehen Sie sich das Produkt an</a>
        </div>
    </section>
    {% endfor %}



    <div class="container">
        <h2 style="font-size: 35px; ">Unsere Lieferanten</h2>
        <div class="card_holder">
         {% for i in поставщики %}
         <div class="wine-card">
        <h2>{{i.company_name}}</h2>
        <img src="{{i.image.url}}" alt="">
        <ul>
            <li> {{i.country}}</li>
            <li>{{i.region}}</li>
        </ul>

         </div>
             {% endfor %}
       </div>
    </div>


</body>
</html>